<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/checking-page.css">
  <title>checking...</title>
</head>
<body>
  <div class="wrapper">
    <div class="content-container">
      <h1>Please, check your current information!</h1>
      <p>Check your name, email, size and another items and next click on "Confirm" button</p>
      <p>Thank you for your trust!</p>
      <div class="checking-container"></div>
      <button class="confirm-btn">Confirm</button>
      <button class="back-form">
        <span>&#9668</span> 
        Change data</button>
    </div>
    
  </div>

  <script defer type="module" src="../js/checked_page.js"></script>
</body>
</html>
