<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/reset.css">
  <link rel="stylesheet" href="../styles/success-page.css">
  <title>Success!</title>
</head>
<body>
  <div class="wrapper">
    <h1>My greetengs!</h1>
    <p> Your order will be processed withing an hour.</p>
      <button class="comeback-btn">
        <span>&#9668</span> 
        Back to shop</button>
  </div>

  <script defer type="module" src="../js/success_page.js"></script>
</body>
</html>
